# Descrption of the data
## Walmart sales during 2010-02-05 to 2012-11-01
### The dataset contatins 
    Store - the store number

    Date - the week of sales

    Weekly_Sales -  sales for the given store

    Holiday_Flag - whether the week is a special holiday week 1 – Holiday week 0 – Non-holiday week

    Temperature - Temperature on the day of sale

    Fuel_Price - Cost of fuel in the region

    CPI – Prevailing consumer price index

    Unemployment - Prevailing unemployment rate

Holiday Events

Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13

Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13

Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13


Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13

# Tasks to be completed on the dataset


Analysis Tasks

Basic Statistics tasks

    Which store has maximum sales

    Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

    Which store/s has good quarterly growth rate in Q3’2012

    Some holidays have a negative impact on sales. Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

    Provide a monthly and semester view of sales in units and give insights

Statistical Model

For Store 1 – Build  prediction models to forecast demand

    Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

    Change dates into days by creating new variable.

Select the model which gives best accuracy.

In [1]:
# importing the required libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# import the data into a pandas dataframe
df = pd.read_csv("Walmart_Store_sales.csv")

In [3]:
# checking the data in the following few lines 
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
# checking the shape of the dataframe
df.shape

(6435, 8)

In [5]:
df.Temperature

0       42.31
1       38.51
2       39.93
3       46.63
4       46.50
        ...
6430    64.88
6431    64.89
6432    54.47
6433    56.47
6434    58.85
Name: Temperature, Length: 6435, dtype: float64

In [6]:
# checking for null values in the dataset
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [7]:
# sorting the data with respoect to date
df = df.sort_values(by='Date')

In [8]:
# checking the changes that were made
df.head(10)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
5208,37,01-04-2011,534578.78,0,67.31,3.524,213.577670,8.300
1204,9,01-04-2011,520962.14,0,56.12,3.524,218.445164,6.380
1776,13,01-04-2011,1864238.64,0,42.49,3.487,128.719935,7.193
2634,19,01-04-2011,1305950.22,0,30.68,3.811,134.068258,7.658
6066,43,01-04-2011,611585.54,0,67.79,3.524,206.673311,10.581
3349,24,01-04-2011,1163803.30,0,35.73,3.811,134.068258,8.212
2920,21,01-04-2011,732056.37,0,56.36,3.524,214.488691,7.931
3778,27,01-04-2011,1628868.28,0,37.27,3.811,137.955893,7.725
346,3,01-04-2011,374556.08,0,68.76,3.524,218.211418,7.574
4064,29,01-04-2011,475615.26,0,36.04,3.638,134.068258,9.966

In [9]:
# finding the unique number of stores 
df['Store'].unique()

array([37,  9, 13, 19, 43, 24, 21, 27,  3, 29, 16, 11, 22, 18, 35, 42, 10,
       44,  4, 23, 33, 26, 15, 17,  8,  2,  1, 30, 39, 41, 31, 38,  6, 12,
       45, 20, 40,  7, 14, 36, 25, 28,  5, 34, 32], dtype=int64)

We can see that there are 45 types of stores in the data

In [10]:
# finding the store with maximum weekly sales 
df1 = df.groupby('Store')['Weekly_Sales'].sum()

In [11]:
df1.head()

Store
1    2.224028e+08
2    2.753824e+08
3    5.758674e+07
4    2.995440e+08
5    4.547569e+07
Name: Weekly_Sales, dtype: float64

In [12]:
# the store with Maximum weekly sales 
print("Store Number {} has maximum Sales. Sum of Total Sales {}".format(df1.idxmax(),df1.max()))

Store Number 20 has maximum Sales. Sum of Total Sales 301397792.46000004

In [13]:
# lets find the store with the maximum standard deviation
df_std = df.groupby('Store').agg({'Weekly_Sales':'std'})
print("Store number {} has maximum Standard Deviation. STD {}" .format(df_std['Weekly_Sales'].idxmax(),df_std['Weekly_Sales'].max()))

Store number 14 has maximum Standard Deviation. STD 317569.94947550836

In [14]:
# lets find which store has good quarterly growth in Q3 of 2012 
df_Q3 = df[(pd.to_datetime(df['Date'])>=pd.to_datetime('01-07-2012'))&(pd.to_datetime(df['Date'])
                                                                       <=pd.to_datetime('30-09-2012'))]
df_growth = df_Q3.groupby(['Store'])['Weekly_Sales'].sum()
print('Store Number {} has Good Quartely growth in Q3 of 2012 {}'.format(df_growth.idxmax(),df_growth.max()))

Store Number 4 has Good Quartely growth in Q3 of 2012 77516251.42

In [15]:
# the sales done during the holiday season are:
h_sales = df[df['Holiday_Flag']==1]
# the sales done during the weekday :
w_sales = df[df['Holiday_Flag']==1]

In [16]:
# Super bowl day sales :
# Super bowl dates 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
sbowl_sales = h_sales[(pd.to_datetime(h_sales['Date'])==pd.to_datetime(12-2-2010)) | 
                      (pd.to_datetime(h_sales['Date'])==pd.to_datetime(11-2-2011)) |
                      (pd.to_datetime(h_sales['Date'])==pd.to_datetime(10-2-2012)) |
                      (pd.to_datetime(h_sales['Date'])==pd.to_datetime(9-2-2013))]

In [17]:
# Labour Day Sales
# Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
lday_sales = h_sales[(pd.to_datetime(h_sales['Date'])==pd.to_datetime(10-9-2010)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(9-9-2011)) | 
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(7-7-2012)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(6-9-2012))]

In [18]:
# Thanks Giving Sales 
# Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
tday_sales = h_sales[(pd.to_datetime(h_sales['Date'])==pd.to_datetime(26-11-2010)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(25-11-2011)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(23-11-2012)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(29-11-2013))]

In [19]:
# Christmas Sales
# Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13
cday_sales = h_sales[(pd.to_datetime(h_sales['Date'])==pd.to_datetime(31-12-2010)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(30-12-2011)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(28-12-2012)) |
                     (pd.to_datetime(h_sales['Date'])==pd.to_datetime(27-12-2012))]

In [20]:
#  Non holiday sales and mean 
non_hol_sales_mean = w_sales.groupby(['Date']).agg({'Weekly_Sales':'mean'}).reset_index()

In [21]:
# stores holiday sales sum 
hol_sales = h_sales.groupby(['Date']).agg({'Weekly_Sales':'sum'}).reset_index()

In [22]:
# sales on the days when holiday sales were more than weekly sales
for i in hol_sales.itertuples():
    for j in non_hol_sales_mean.itertuples():
        if i.Weekly_Sales > j.Weekly_Sales:
            print("On {} the holiday sales were lower than non holiday sales and the sales amount to:{}"
                 .format(i.Date,i.Weekly_Sales))
            break;

On 07-09-2012 the holiday sales were lower than non holiday sales and the sales amount to:48330059.30999999
On 09-09-2011 the holiday sales were lower than non holiday sales and the sales amount to:46763227.53
On 10-02-2012 the holiday sales were lower than non holiday sales and the sales amount to:50009407.919999994
On 10-09-2010 the holiday sales were lower than non holiday sales and the sales amount to:45634397.84
On 11-02-2011 the holiday sales were lower than non holiday sales and the sales amount to:47336192.79000001
On 12-02-2010 the holiday sales were lower than non holiday sales and the sales amount to:48336677.629999995
On 25-11-2011 the holiday sales were lower than non holiday sales and the sales amount to:66593605.25999998
On 26-11-2010 the holiday sales were lower than non holiday sales and the sales amount to:65821003.23999999
On 30-12-2011 the holiday sales were lower than non holiday sales and the sales amount to:46042461.04000001
On 31-12-2010 the holiday sales were lower than non holiday sales and the sales amount to:40432518.99999999

In [33]:
# now lets split the model into features and target variable to divide into train and test data
features = df[df['Store']==1][['Store','Date']]
date_obj = df[df['Store']==1][['Date']]
date_obj.index +=1
features.Date = date_obj.index
features.head()

     Store  Date
60       1    61
121      1   122
73       1    74
34       1    35
108      1   109

In [34]:
target = df[df['Store']==1][['Weekly_Sales']]
target.head()

     Weekly_Sales
60     1495064.75
121    1624477.58
73     1488538.09
34     1453329.50
108    1688420.76

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features,target,random_state = 10)

In [36]:
# Hypothesize if CPI, unemployment, and fuel price have any impact on sales.
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [37]:
lr.fit(x_train,y_train)

LinearRegression()

In [41]:
yhat = lr.predict(x_test)

In [43]:
yhat

array([[1552300.13879483],
       [1486536.84415029],
       [1556931.35672755],
       [1521734.10043892],
       [1506914.20305423],
       [1596759.83094889],
       [1579161.20280458],
       [1496725.52360226],
       [1558783.84390064],
       [1560636.33107372],
       [1598612.31812198],
       [1487463.08773683],
       [1499504.25436189],
       [1556005.11314101],
       [1600464.80529507],
       [1550447.65162175],
       [1529144.04913126],
       [1585644.90791038],
       [1491168.062083  ],
       [1554152.62596792],
       [1504135.4722946 ],
       [1569898.76693915],
       [1547668.92086212],
       [1555078.86955446],
       [1557857.60031409],
       [1568972.52335261],
       [1539332.72858323],
       [1616210.9462663 ],
       [1511545.42098695],
       [1610653.48474704],
       [1575456.22845841],
       [1543963.94651595],
       [1546742.67727558],
       [1523586.587612  ],
       [1520807.85685238],
       [1567120.03617952]])

In [46]:
print ('Coefficients: ', lr.coef_)
print ('Intercept: ',lr.intercept_)

Coefficients:  [[  0.         926.24358654]]
Intercept:  [1485610.60056375]

In [48]:
from sklearn.metrics import r2_score
print ("Mean Absolute Error: %.2f"%np.mean(np.absolute((yhat-y_test))) )
print ("Residual sum of squares(MSE): %.2f"%np.mean((yhat-y_test)**2))
print ("R2-score: %.2f"%r2_score(yhat,y_test))

Mean Absolute Error: 92307.97
Residual sum of squares(MSE): 28877712428.85
R2-score: -22.42

 We can infer from the results above that the Linear Regression model is not very accurate for modeling the data we have at hand.

In [39]:
# creating a features data set with CPI, unemployment, and fuel price, Store
features_data = df[df['Store']==1][['Store','CPI','Unemployment','Fuel_Price']]
features_data.head()

     Store         CPI  Unemployment  Fuel_Price
60       1  214.837166         7.682       3.524
121      1  221.747214         7.143       3.501
73       1  215.184137         7.962       3.524
34       1  211.671989         7.838       2.603
108      1  220.848045         7.348       3.630

In [49]:
# response data 
response_cpi = df[df['Store']==1]['CPI'].astype('int64')
response_unemployment = df[df['Store']==1]['Unemployment'].astype('int64')

In [50]:
from sklearn.model_selection import train_test_split
xtrain_cpi,xtest_cpi,ytrain_cpi,ytest_cpi = train_test_split(features_data,response_cpi,random_state=10)

In [52]:
xtrain_unem,xtest_unem,ytrain_unem,ytest_unem = train_test_split(features_data,response_unemployment
                                                                ,random_state=10)

In [53]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10000)
logreg.fit(xtrain_cpi,ytrain_cpi)
yhat_cpi = logreg.predict(xtest_cpi)
logreg.fit(xtrain_unem,ytrain_unem)
yhat_unem = logreg.predict(xtest_unem)

In [55]:
from sklearn import metrics
print("The accuracy for CPI prediction is:",metrics.accuracy_score(ytest_cpi,yhat_cpi))

The accuracy for CPI prediction is: 0.6944444444444444

In [56]:
print("The accuracy for Unemployement prediction is:",metrics.accuracy_score(ytest_unem,yhat_unem))

The accuracy for Unemployement prediction is: 0.9166666666666666

In [57]:
print ('CPI Actual:', ytest_cpi.values[0:30])
print ('CPI Predicted:',yhat_cpi[0:30])
print ('Actual Unemployment:',ytest_unem.values[0:30])
print ('Predicted Unemployment:',yhat_unem[0:30])

CPI Actual: [214 211 215 211 211 221 219 210 215 215 221 211 210 215 221 215 211 220
 211 215 211 217 215 215 215 217 214 223 211 222]
CPI Predicted: [215 211 215 211 211 221 221 211 215 215 221 211 211 215 221 215 211 221
 211 215 211 217 215 215 215 217 215 221 211 221]
Actual Unemployment: [7 8 7 7 7 7 7 7 7 7 7 8 7 7 7 7 7 7 8 7 7 7 7 7 7 7 7 6 7 6]
Predicted Unemployment: [7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 6 7 6]

In [58]:
# finally lets add a new columns that shows the day of the week as per the date to the dataset
df['Day'] = pd.to_datetime(df['Date']).dt.day_name()
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Day
5208,37,01-04-2011,534578.78,0,67.31,3.524,213.577670,8.300,Tuesday
1204,9,01-04-2011,520962.14,0,56.12,3.524,218.445164,6.380,Tuesday
1776,13,01-04-2011,1864238.64,0,42.49,3.487,128.719935,7.193,Tuesday
2634,19,01-04-2011,1305950.22,0,30.68,3.811,134.068258,7.658,Tuesday
6066,43,01-04-2011,611585.54,0,67.79,3.524,206.673311,10.581,Tuesday